<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="聖地画像">
        <div class="card-body">
          <h5 class="card-title">聖地名</h5>
          <p class="card-text">この聖地についての短い説明。</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <!-- 繰り返し -->
  </div>
</div>