<div class="map-container">
  <img src="/assets/mapimage.png" alt="Map Image" class="map-image">
  <div class="map-buttons">
    <button onclick="location.href='<%= new_post_path %>'">投稿する</button>
    <button onclick="location.href='<%= posts_path %>'">聖地を見る</button>
  </div>
</div>