<% flash.each do |message_type, message| %>
  <% bootstrap_class = case message_type.to_sym
     when :notice then "alert-success"
     when :alert, :error then "alert-danger"
     else "alert-primary"
     end
  %>
  <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
