<div class="container mt-5">
  <h1>利用規約</h1>
  <p>最終更新日: <%= Time.zone.now.strftime('%Y年%m月%d日') %></p>
  
  <h2>第1条（目的）</h2>
  <p>
  本規約は、えびちゅう聖地巡礼マップ（以下「本サービス」といいます）の利用条件を定めるものです。本サービスを利用する方（以下「ユーザー」といいます）は、本規約に同意したものとみなされます。</p>

  <h2>第2条（利用規約の変更）</h2>
  <p>本サービスは、ユーザーへの事前通知なく、本規約を変更することがあります。変更後の規約は、本サービス上で公開された時点で効力を生じるものとします。</p>

  <h2>第3条（禁止事項）</h2>
  <p>ユーザーは、以下の行為をしてはなりません。</p>
  <ul>
    <li>1.公序良俗または法令に反する行為</li>
    <li>2.他のユーザー、第三者、または本サービスの権利を侵害する行為</li>
    <li>3.虚偽の情報を投稿する行為</li>
    <li>4.本サービスの運営を妨害する行為</li>
  </ul>

  <h2>第4条（免責事項）</h2>
  <ul>
    <li>1.本サービスは、提供する情報の正確性、完全性、信頼性を保証するものではありません。</li>
    <li>2.本サービスの利用に関連してユーザーに生じた損害について、本サービスは一切の責任を負いません。</li>
  </ul>

  <h2>第5条 (知的財産権)</h2>
  <p>本サービス内のコンテンツの著作権は、[EBC Sanctuary Map 運営チーム]に帰属します。</p>

  <h2>第6条 (準拠法・管轄裁判所）</h2>
  <p>本規約は日本法に準拠し、これに基づいて解釈されます。本規約に関連して紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

  <h2>6. お問い合わせ</h2>
  <p>ご不明な点がございましたら、以下までお問い合わせください。</p>
  <p><%= link_to 'お問い合わせ', new_contact_path %></p>
</div>