<div class='ms-auto'>
  <% if current_user.like?(post) %>
    <%= render 'unlike', { post: post } %>
  <% else %>
    <%= render 'like', { post: post } %>
  <% end %>
  <span class="like-count">
  <div id="like-count-for-post-<%= post.id %>">
    <% if post.likes.count > 0 %>
   <%= post.likes.count %></span>
    <% end %>
  </div>
</div>