
body .btn-primary {
    background-color: #ff7aaf; 
    border-color: #ff7aaf; /* 枠線も同じ色に */
  }
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active {
    background-color: #e06693;
    border-color: #e06693;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* アイテム間のスペースを調整 */
  flex-wrap: wrap; /* レスポンシブ対応で狭い幅なら折り返す */
}
